<div class="container">
  <table width="400px" border="1" >
    <tbody>
      <tr>
        <th class="addPading10px">Store Name:</th>
        <td>Plaza Cristal</td>
      </tr>
      <tr>
        <th class="addPading10px">Address:</th>
        <td>Avenida Lázaro Cárdenas Sn</td>
      </tr>
      <tr>
        <th class="addPading10px">City:</th>
        <td>Xalapa, Veracruz</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-3">
    <button style="width:100%" type="button" class="btn btn-danger" (click)="closeDialog()"> Close </button>
  </div>
</div>
