
<div class="container px-5 my-5">
  <form id="contactForm" >
    <div class="mb-3">
      <label class="form-label" for="companyName">Company Name</label>
      <input class="form-control" id="companyName" type="text" data-sb-validations="required" />
      <div class="invalid-feedback" data-sb-feedback="companyName:required">Company Name is required.</div>
    </div>
    <div class="d-grid">
      <button class="btn btn-primary btn-lg" id="submitButton" type="button">Save</button>
    </div>
  </form>
</div>
