<div class="container mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3">
        <table >
          <tbody>
            <tr>
              <td class="padding15px">Product Name: &nbsp;</td>
              <td class="padding15px">
                <input type="text" class="form-control" id="priceTxt" placeholder="">
              </td>
              <td class="padding15px">
                <button type="button" class="btn btn-success">Search</button>
              </td>
              <td class="padding15px">
                <button type="button" class="btn btn-primary">clear</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
